body { background-image: url(img/happy.jpg);
    background-repeat: no-repeat;
  background-attachment: fixed;
   background-position: center;
   background-size: auto 100%;
 }

.navButton{
	/*testing placement*/
	width: 25%;
	height: 80px;
	background-color: 	red;
	border: 1px	black solid;

}

.mainBody{
/*	background-image: url(img/happy.jpg);
	background-repeat: repeat-x;*/
	/*background-image: url(img/happy.jpg);*/
	height: 	600px;
	background-color: blue;

}

.buttHolder{
	background-color: grey;
	height:50%;
<<<<<<< HEAD
=======
	background-color: rgba(255, 0, 0, 0.3);
>>>>>>> 4d7b435b1cfb2630fb5bd66279d1ecd1c190e84f
	
}

.getStart{

	margin-top: 150px;
	margin-left: 150px;

	
}

.inputs{
	height: 100%;
	
}

<<<<<<< HEAD
.textText{
	height: 50%;
	
}
=======

>>>>>>> 4d7b435b1cfb2630fb5bd66279d1ecd1c190e84f

.spacer{
	width: 75%;
	height: 80px;
	background-color: blue;
	
}

.trademark{
	width: 	25%;
	height: 80px;
<<<<<<< HEAD
	background-color: white;
	
}
img {
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
=======
	background-color: 	blue;
}

#quote{
	margin-left: 30px;
	margin-top: 30px;
>>>>>>> 4d7b435b1cfb2630fb5bd66279d1ecd1c190e84f
}