body { background-image: url(img/happy.jpg);
    background-repeat: no-repeat;
  background-attachment: fixed;
   background-position: center;
   background-size: auto 100%;
 }

.navButton{
	/*testing placement*/
	width: 25%;
	height: 80px;
	background-color: 	red;
	border: 1px	black solid;

}

.mainBody{
/*	background-image: url(img/happy.jpg);
	background-repeat: repeat-x;*/
	/*background-image: url(img/happy.jpg);*/
	height: 	600px;
	background-color: blue;

}

.buttHolder{
	background-color: grey;
	height:50%;
	
}

.getStart{
	top: 0 auto;
	
}

.inputs{
	height: 100%;
	
}

.textText{
	height: 50%;
	
}

.spacer{
	width: 75%;
	height: 80px;
	background-color: blue;
	
}

.trademark{
	width: 	25%;
	height: 80px;
	background-color: white;
	
}
img {
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}