<!DOCTYPE html>
<html>
<head>
	<title>Lux Organ Services</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Amita|Cinzel|Michroma|" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/home.css">


	</head>
<body class="container-fluid">
		<div class="row">
			<div class="mainBody">
				<div class="bodyItem buttHolder col-md-6"><a href="/package" class="btn btn-primary btn-lg getStart">Get Started</a><div id='quote'><h1><i><strong>"I was always being held back by my extra kidney weight, but now I'm free to pursue my dreams"</strong></i></h3><h1><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Phil Collins</strong></h3></div></div>

				<div class="bodyItem inputs col-md-6">
				<div id="stuff">
					<form method="POST" action="/home">	
						<div id="names">
							<h1><strong>Sign Up Today</strong></h1>
							<input type="text" name="firstName" placeholder="First Name">
							<input type="text" name="lastName" placeholder="Last Name">
						</div>
						<div id='info'>
					
							<input type="text" class="email" name="email" placeholder="Email">
						</div>
						<div id="messageBlock">
									<h10><strong>Tell us which package you would would like, your age and your availibilty in a short message</strong></h10>
									<input name="message" id="message" placeholder="Message here">
									<br>
									<input type="submit" class="btn btn-primary btn-lg" id='submit'>

						</div>
					</form>
				  </div>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="footer">
				<div class="spacer col-md-8"></div>
				<div class="trademark col-md-4">&copy; Kevin and John</div>
			</div>
		</div>

</body>
</html>