<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/pack.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Amita|Cinzel|Michroma|" rel="stylesheet">
	<title></title>
</head>
<body class="main">
<h2>Exclusive Locations</h1>
<div class="row">
  <div class="pack col-md-4">
  	<h1>Tibet</h1>
  	<img src="../img/happy.jpg">
  	<h2> "The MT.Everest Package"</h2><h3>Join us for a spirtual kidey-removal adventure. One month stay including a guided hike up to Everest basecamp. <strong>$40K</strong> in your pocket, and a <strong>lifetime of memories</strong></h3><h3><strong>40k</strong></h3>
  	
  </div>
  <div class="pack col-md-4">
 	<h1>Thailand</h1>
  	<img src="../img/happy2.jpg">
  	<h2>"The Grand Palace Package"</h2><h3>Explore the Buddhist Stupas and find inner peace with this glorious 3 week package. Clients will be screened for disease before surgery. It's impossible to reach <strong><i>one</i></strong>-ness if you have <strong><i>two</i></strong> kidneys.</h3><h3><strong>60k</strong></h3>
  </div>

  <div class="pack col-md-4">
  <h1>Italy</h1>
  	<img src="../img/happy3.jpg">
  	<h2>"The Sistine Chapel Package"</h2><h3>Get one kidney closer to God with this relaxing Italian trip. Enjoy unprecendented access to the vatican, and complementary absolution before the procedure starts.</h3><h3><strong>30k</strong></h3>
  </div>
</div>

<div class="row">
  <div class="pack col-md-4" id="four">
  <h1>Ibiza</h1>
  	<img src="../img/happy4.jpg">
  	<h2>"Tropical Island Package"</h2><h3>A tropical island getaway to enjoy some quality time with your kidneys before you part with them forever. Experience the nightlife one last time as a person with all of their organs.</h3><h3><strong>20K</strong></h3>
  </div>
  <div class="pack col-md-4">
  <h1>Russia</h1>
  	<img src="../img/happy5.jpg">
  	<h2>"The ICE Package"</h2><h3>Privacy is of the utmost concern at our Chelyabinsk-7 location. Nestled away in an old Soviet dark-site, our Russian package lets you get so far off the grid that you won't even be on a map!</h3><h3><strong>70K</strong></h3>
  </div>
  <div class="pack col-md-4">
  <h1>Barbados</h1>
  	<img src="../img/happy6.jpg">
  	<h2>"The Caribbean Package"</h2><h3>With world-class scuba-diving, Barbados offers the colorful Caribbean expeirence of your dreams. While the package sum is considerably lower because of the abundance of rum punch, our Barbados Experience will be the time of your life!</h3><h3><strong>10K</strong></h3>
  </div>
</div>

</body>
</html>