<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/pack.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Amita|Cinzel|Michroma|" rel="stylesheet">
	<title></title>
</head>
<body class="main">
<h2>Exclusive Locations</h1>
<div class="row">
  <div class="col-md-4">
  	<h1>Tibet</h1>
  	<img src="../img/happy.jpg">
  	<p> "The MT.Everest Package"</p>
  	
  </div>
  <div class="col-md-4">
 	<h1>Thailand</h1>
  	<img src="../img/happy2.jpg">
  	<p>"The Grand Palace Package"</p>
  </div>

  <div class="col-md-4">
  <h1>Italy</h1>
  	<img src="../img/happy3.jpg">
  	<p>"The Sistine Chapel Package"</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4" id="four">
  <h1>Ibiza</h1>
  	<img src="../img/happy4.jpg">
  	<p>"Tropical Island Package"</p>
  </div>
  <div class="col-md-4">
  <h1>Russia</h1>
  	<img src="../img/happy5.jpg">
  	<p>"The ICE Package"</p>
  </div>
  <div class="col-md-4">
  <h1>Barbados</h1>
  	<img src="../img/happy6.jpg">
  	<p>"The Caribbean Package"</p>
  </div>
</div>

</body>
</html>