<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/test.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Amita|Cinzel|Michroma|Roboto|" rel="stylesheet">
    <title></title>
</head>
<body class="main">
<div class="row">
<br>
 <div class="col-md-12">
 <h1>We've made over 3,000 dreams come true!</h1>
 <p>Since 2005, Luxury Kidney has been trusted by people in over 70 countries.</p>
 </div>
 </div>
<br>
<br>
<br>
 <div class="row">
 <div class="col-md-4">
     <img class="hov" src="img/test2.jpg">
     <h3>"I finally was able to buy a Pony thanks to Luxury Kidney!"</h3>
     <p>-Richard</p>
     <p>St.Paul, Minnesota</p>
 </div>
 <div class="col-md-4">
     <img class="hov" src="img/test1.jpg">
     <h3>"I invested my kidney money into buying lottery tickets to set up my future"</h3>
     <p>- Beth</p>
     <p>NYC, New York</p>
 </div>
 <div class="col-md-4">
     <img class="hov" src="img/test.jpg">
     <h3>"Luxury Kidney made our dream wedding possible"</h3>
     <p>- Sonny and Cher</p>
     <p>Denver, Colorado</p>
 
 </div>
</div>

</body>
</html>